<p id="notice"><%= notice %></p>


	<p>
	  <strong>Name:</strong>
	  <%= @user.name %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @user.email %>
	</p>テスト２ですよー

<%# @user.microposts.each do |micropost| %>

	<p>
	  <strong>content:</strong>
	  <%#= micropost.content %>
	  <%= @user.microposts.first.content %>
	</p>

<%# end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
